.header {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url("../../assets/various-yellow-sunflowers-website-header.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
